<script type="text/javascript">
    urlSubmit = '[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php?seccion=agregarSecretariado&language=[[ lang ]]';
    urlUploadImage = '[[ paths.PATH_PHP ]]upload.php?section=[[section]]';
    controladorModel = '[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php';
    lang = '[[ lang ]]';
    section = 'listadoSecretariado';
    </script>


    <section>
        <div class="contentInterno">
            <div class="contenedor">
                <p class="ubicacion"><a href="[[paths.PATH_HOME]][% if(localhost) %]?language=[[ lang ]][% else %][[ lang ]][% endif %]">[[ texts.inicio ]]</a>|<span class="seccion">[[texts.sobre_canla]]</span>|<span class="seccion">[[texts.secretariado]]</span></p>
                <h2>[[texts.secretariado]]</h2>

                [% if(perfil == 1) %]
                <div class="divBtnAgregar" ng-controller="modalDefault" ng-init="init('[[paths.PATH_CONTROLLER]]sobrecanla/controladorAdmin.php?seccion=agregarSecretariado', 'imgController')">
                    <a class="btn agregar" ng-click="open()" >Agregar persona</a>
                </div>
                [% endif %]

                [% autoescape  false  %]
                <div ng-controller="mainController" ng-init="init()">
                [% if(perfil == 1) %]
                    <div class="float" ng-controller="modalDefault" ng-init="init('[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdmin.php?seccion=ordenarSecretariado', 'imgController')">
                        <a class="btn editar" ng-click="open()">Ordenar</a>
                    </div>
                [% endif %]
                    <div class="clear"></div>

                    <ul >
                        <li ng-repeat="data in dataArray track by data.idSecretariado" class="logItem unidaddeContenido">
                            <img class="fotoSecretariado bordeImg" alt="{{data.nombreSecretariado}}" src="[[ paths.PATH_IMAGES_SOBRECANLA ]]{{data.imagenSecretariado}}">
                            <h4>{{data.nombreSecretariado}}</h4>
                            <p class="cargo">{{data.cargoSecretariado}}</p>
                            <p>{{data.textoSecretariado}}</p>
                            <div class="clear"></div>
                            [% if(perfil == 1) %]
                            <div class="comboEliminarEditar">
                                <div class="float marginR" ng-controller="mainController" >
                                    <div class="success " ng-show="alertSuccess">{{alertSuccess}}</div>
                                    <div class="error" ng-show="alertError">{{alertError}}</div>
                                    <button class="btnOutline eliminar" type="button" ng-click="eliminarGenerico(data.idSecretariado, '[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdminModel.php', 'borrarSecretariado', '¿Está seguro que desea borrar el miembro del secretariado?' )">Borrar</button>
                                </div>
                                <div class="float" ng-controller="modalDefault" ng-init="init('[[ paths.PATH_CONTROLLER_SOBRECANLA ]]controladorAdmin.php?seccion=modificarSecretariado&idSecretariado='+data.idSecretariado+'&language=[[ lang ]]', 'imgController')">
                                    <a class="btn editar" ng-click="open()">Editar</a>
                                </div>
                            </div>
                            [% endif %]
                        </li>

                    </ul>
                    
                </div>

                [% endautoescape %]
            </div>
        </div>
    </section>

